@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f4f8;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* Extra stijlen voor iPad */
@media (min-width: 768px) and (max-width: 1024px) {
  .text-4xl {
    font-size: 2.5rem;
  }
  
  input[type="number"] {
    font-size: 2rem;
    height: 4rem;
    width: 10rem;
  }
  
  button {
    min-height: 3rem;
  }
}
